.repo_item__wrapper{
    height: 112px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    row-gap: 16px;
}

.repo__link{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
}

.repo__description{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
