*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a, button{
    cursor: pointer;

}
a{
    text-decoration: none;
    color: #0064EB;
}
